src/etc/fpc_variations.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="fpc_variationType" name="fpc_variation" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="fpc_variationType" >
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="handler" use="required"/>
    </xs:complexType>
</xs:schema>
